<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="DatabaseContext" connectionString="data source=LT-CNU350BHTK\SQLEXPRESS;User Id=OrgchartUser;Password=0rgchartp@ss1;initial catalog=Orgchart;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework" 
        providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
